<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">veraknazeva</property>
        <property name="connection.password">dera21011994</property>
        <property name="hibernate.show_sql">true</property>


        <mapping class="entity.UserData"/>
        <mapping class="entity.Task"/>
        <mapping class="entity.UserRole"/>
        <mapping class="entity.Priority"/>
        <mapping class="entity.RoleData"/>
        <mapping class="entity.Stat"/>
        <mapping class="entity.Activity"/>
        <mapping class="entity.Category"/>
        <!--     <property name="connection.username"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>